<div id="main">
  <div id="container">
    <div id="content">
      <div class="row">
        <div class="small-12 columns">

          <div class="row">
            <div class="columns small-12">
              <div class="login-logo-block">
                <div class="orange"></div>
                <div class="grey">
                  <img src="assets/images/login_logo.png" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="columns small-12">
              <form id="login">
                <input type="text" name="userEmail" id="userEmail" placeholder="Email Address" />
                <div id="passwordBox">
                  <input type="text" name="password" id="password" placeholder="Password" />
                </div>
                <button type="submit" name="submit" id="submit" value="Login">
                  Log in to AP Express
                </button>
              </form>
              <div id="wait">
                <span class="spinner">
                  <img src="assets/images/712.GIF" />
                </span>
                <div id="auth">
                  <span class="spinner">
                    <img src="assets/images/712.GIF" />
                  </span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

